*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: rgb(180, 236, 241);
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Shantell Sans", cursive;
    display: block;
    transition: 0.3s;
}

#blackP{
    text-align: center;
    background-color: #222;
    color: rgb(180, 236, 241);
    padding: 10px 0;
    font-family: "Shantell Sans", cursive;
    
}

header{
    display: flex;
    justify-content: space-around;
}

.headerLeft {
    display: flex;
    align-items: center;
}

.headerRight {
    display: flex;
    align-items: center;
}

.headerInput {
    visibility: hidden;
}

#logo {
    background-image: url('Logo.svg');
    width: 100px;
    height: 40px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;

}

#profileButton {
    background-image: url('profile.svg');
    
}

#searchButton {
    background-image: url('searchButton.svg');   
}

button:hover,a:hover {
    opacity: 0.5;
    
}

button {
    transition: 0.3s;
    width: 40px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: white;
    cursor: pointer;
}

